* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(imagen/backgroundlogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color: #d1d1d1;
    /* Color claro para el texto en general */
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 32, 64, 0.7);
    /* Fondo oscuro con un toque azulado */
}

.caja__trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p {
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 900ms;
}

.caja__trasera button:hover {
    background: #fff;
    color: #557799;
}

/* Formularios */
.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 1200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: #464343;
    /* Fondo oscuro para el formulario */
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    /* Sombra suave */
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #9dacbc;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 10px;
    /* Reduje el margen para acercar más el input */
    padding: 10px;
    background: #333;
    color: #d1d1d1;
    font-size: 16px;
}

.contenedor__login-register form input:focus {
    background: #555;
    /* Cambia a un gris más claro al hacer foco */
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #677e96;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.contenedor__login-register form button:hover {
    background: #3479B1;
}

/* Cambiar visibilidad de formularios */
.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

/* Estilo para el toggle de la contraseña */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding: 8px;
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    vertical-align: middle;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }

    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

    /* Formularios */
    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form {
        position: relative;
    }
}

header {
    background: rgba(0, 0, 0, 0.8);
    /* Fondo oscuro para el header */
    color: #fff;
    height: auto;
    padding: 20px;
    text-align: center;

    /*menu css3generator*/
    .css3-menu {
        list-style: none;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        background: #333;
        max-width: 30%;
        align-items: center;
        display: block;
        border-radius: 3rem;
    }

    .css3-menu li {
        display: inline-block;
    }

    .css3-menu a {
        display: block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        transition: background 0.3s;
    }

    .css3-menu a:hover {
        background: #555;
        /* Color de fondo al pasar el ratón */
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    /* Fondo oscuro para el pie de página */
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social-media {
    margin-top: 20px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: #ddd;
    /* Color claro al pasar el ratón */
}