body {
    font-family: Arial, sans-serif;
    background-image: url('imagen/background_nosotros.jpg');
    margin: 0;
    padding: 0;
    position: bottom; /* Asegúrate de que el body sea relativo */
    color:#ffffff; /* Color de texto */
    background-size: cover; /* Ajusta la imagen para cubrir el fondo */
    background-position: unset;
    background-repeat: no-repeat; /* No repetir la imagen */
    opacity: 0.7; /* Ajusta la opacidad */
    z-index: -1; /* Coloca el fondo detrás del contenido */
}

header {
    background-color: rgb(73, 73, 73); /* Fondo semi-transparente para el header */
    padding: 20px;
    text-align: center;

     /*menu css3generator*/
     .css3-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        background: #ffffff;
    }
    
    .css3-menu li {
        display: inline-block;
    }
    
    .css3-menu a {
        display: block;
        padding: 10px 20px;
        color: #000000;
        text-decoration: none;
        transition: background 0.3s;
    }
    
    .css3-menu a:hover {
        background: #ffffff; /* Color de fondo al pasar el ratón */
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;

    .social-media {
        margin-top: 10px;
    }
    
    .social-media a {
        color: #ffffff;
        margin: 0 10px;
        text-decoration: none;
        font-size: 3em; /* Tamaño de los iconos */
        transition: color 0.3s;
    }
    
    .social-media a:hover {
        color: #ddd; /* Color al pasar el ratón */
    }
    
}

/* Media Queries */
@media (max-width: 600px) {
    .product {
        flex: 1 1 90%; /* Más ancho en pantallas pequeñas */
        height: auto; /* Altura automática */
    }

    header {
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .product {
        flex: 1 1 45%; /* Dos productos en línea */
    }
}

@media (min-width: 1201px) {
    .product {
        flex: 1 1 30%; /* Tres productos en línea */
    }
}
